.allvideos {
    padding: 50px;
}

.singlevideo {
    background: #f3f2f2;
    box-shadow: 4px 0px 13px rgba(158, 158, 158, 0.12);
    margin-bottom: 30px;
    max-height: 393px;
    overflow: hidden;
}

.videoInfo {
    padding: 10px 20px;
}

.videoTitle {
    line-height: 1.2em;
}

.videoDesc {
    font-size: .6em;
    color: #676767;
}