/* Header Style
.nav-wrapper {
    background: rgba(0,0,0,0.8);
    font-size: 0.85em;
    font-weight: 200;
}
.nav-wrapper ul li a {
    color: #fff;
    opacity: 0.7;
}
.nav-wrapper ul li a:hover{
    opacity: 1;
} 
.navbar-toggler {
    color: #fff;
}
.nav-item {
    text-align: left !important;
    padding: 4px 0;
} */

.nav-tool {
    background: rgba(0,0,0,0.8);
    font-size: 0.85em;
    font-weight: 200;
  }
  .nav-tool ul li a {
    color: #fff;
  }
  .navbar-toggler {
    color: #fff;
  }
  .nav-item {
    text-align: left !important;
    padding: 4px 0;
    /* border-bottom: 1px solid #4b4b4b; */
  }
  .apple-logo{
    margin-top: -10px;
    padding-right: 40px;
  }
  /* Search Box */
  .searchbox {
    z-index: 100;
    background: #000;
    padding: 100px;
    text-align: center;
    display: none;
  }
  
  .searchbox ul {
    background: #fff;
  }
  
  /* top-paragraph */
  .top-paragraph {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  .title {
    font-weight: 600;
    color: #1d1d1f;
    padding: 10px;
  }
  .text {
    max-width: 90%;
    margin: 0 auto;
  }